<div id="<%= dom_id gadget %>">
  <p>
    <strong>Brand:</strong>
    <%= gadget.brand %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= gadget.description %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= gadget.condition %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= gadget.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= gadget.price %>
  </p>

</div>
