<% content_for :body_class, 'bg-light' %>

<section class="section gadget-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @gadget.title %></h1>

      <ul class="pv1">
        <% if @gadget.brand? %>
          <li class="inline-block pr3"><%= @gadget.brand %></li>
        <% end %>

        <% if @gadget.condition? %>
          <li class="inline-block pr3"><%= @gadget.condition %></li>
        <% end %>
      </ul>

      <div class="feature-image"
        <%= image_tag(@gadget.image_url(:default)) %>
      </div>

      <div class="content pa4 mt3 bg-white border-radius-3">
        <%= @gadget.description %>
      </div>

      <h3 class="subtitle is-4 pt5">Product Specification</h3>

      <table class="table is-narrow">
        <% if @gadget.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @gadget.condition %></td>
        </tr>
        <% end %>

        <% if @gadget.brand %>
        <tr>
          <td class="has-text-weight-bold">Brand:</td>
          <td><%= @gadget.brand %></td>
        </tr>
        <% end %>

      </table>

    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <h4 class="title is-5 has-text-centered"><%= number_to_currency(@gadget.price) %></h4>
        <p class="has-text-centered mb4">Sold by <%= @gadget.user.name %></p>
        <%= button_to 'Add to cart', '#', class: 'button is-warning add-to-cart' %>
      </div>

    
    </div>
  </div>

  <% if gadget_author(@gadget) %>
    <%= link_to 'Edit', edit_gadget_path(@gadget), class: 'button' %>
  <% end %>
  
</section>
